*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-brand{
  font-size: 2rem;
  color: black;
}
.navbar-brand:hover{
  color: black;
}
.nav-link{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-size: 15px;
  margin-top: 20px;
  text-transform: uppercase;

}
.nav-link:hover{
  color: green;
  text-decoration: underline;
}

.search{
  display: flex;
  height: 40px;
  margin-top: 10px;
  width: 80%;
  border-radius: 60px;
  border: 2px solid rgb(248, 26, 92);
  margin-right: -40px;
  outline: none;
}
.btn0{
  height: 40px;
  width: 40%;
  margin-top: 10px;
  outline: none;
  border: none;
  background: rgb(248, 26, 92);
  color:white;
  border-radius: 60px;
  font-weight: 700px;
}
.main img{ 
    width: 175%;
    height: 100vh;
    background: cover;
    background-position: 50% 50%;
  
}

.main h3{
   margin-top: -500px;
   margin-left: 40px;
   font-size:3rem;
   font-weight: 700px;

}
.btn1{
  width: 35%;
  height: 45px;
  color: red;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  font-weight: 700px;
  border-radius: 60px;

}
.btn1:hover{
  background-color: rgb(211, 12, 72);
  transition: 0.3s;
}
.h1{
  font-weight: 700px;
}

.card:hover{
  box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
  transition: 0.5s;
}

.apple img{
  background: cover;
  height: 80vh;
  width: 205%;
  background-position: 50% 50%;
  background: linear-gradient ( rgba(2, 13, 21, 0.927),rgba(0,0,0,0.2)) ;

}

.apple h1{
  margin-top: -400px;
  margin-left: 50px;
  font-family: lobster, cursive;
}
.apple h6{
  margin-top: -10px;
  margin-left: 50px;
  
}
.apple .btn1{
  margin-left: 50px;
}

.contact{
  margin-top: 100px;
}

.company{
  background-color: black;
  color: white;
  
}

.btn2{
  height: 45px;
  width: 100px;
  background: white;
  margin-left: -4px;
  border: 2px solid white;
  font-weight: 600;
  
}

.company input{
  width: 55%;
  height:45px;
  border: 2px solid white;
  background: black;
  color:white;
  outline: none;
  margin-top: 20px;
  font-weight: 600;
}
.comapny::placeholder{
  color: white;
}
.row p:hover{
  text-decoration: underline;
}

.fab{
  font-size: 25px;
  cursor: pointer;
  padding-right: 5px;
}

.btn5{
    display: inline-block;
    padding: 12px 25px;
    margin-left: 100px;
    background-color: rgb(248, 26, 92);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}
.btn5:hover{
    background-color: rgb(248, 26, 92);
}


